<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello world</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Page Wide -->
    <link data-th-href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
    <link data-th-href="${portal.assetUrl({'_path=/material-design-lite/1.3.0/dist/material.' + scheme + '.min.css'})}" href="../assets/cards/css/cards.css" rel="stylesheet"/>
    <!--
    <link data-th-href="${portal.assetUrl({'_path=material-design-lite/1.3.0/material.min.css'})}" rel="stylesheet"/>

    <link data-th-href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
    <link th:href="@{'https://code.getmdl.io/1.3.0/material.'+ ${scheme} + '.min.css'}" rel="stylesheet" />
    -->





    <!-- PARTS TOdo: Move to more fitting location.-->
    <!-- Card Part Styling -->
    <link data-th-href="${portal.assetUrl({'_path=cards/css/cards.css'})}" href="../assets/cards/css/cards.css" rel="stylesheet"/>
    <link data-th-href="${portal.assetUrl({'_path=cards/css/image_card.css'})}" href="../assets/cards/css/image_card.css" rel="stylesheet"/>

    <!-- Slick Image Carousel -->
    <link rel="stylesheet" type="text/css" th:href="@{'//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css'}" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{'//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'}" href="slick/slick.css"/>


    <!-- WebJar importing.
    <script th:src="${portal.assetUrl({'_path=/angular/1.6.4/angular.min.js'})}"></script>
    -->

    <!-- Main general style-->
    <link data-th-href="${portal.assetUrl({'_path=css/main.css'})}" href="../assets/css/main.css" rel="stylesheet"/>



</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title" data-th-text="${title}">Title</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link">Link</a>
            </nav>
        </div>
    </header>

    <main class="mdl-layout__content" th:style="'background-image:url(' + ${portal.imageUrl({'_id=' + bg_img, '_scale=block(1920, 1080)', '_format=jpeg', '_quality=100'})} + '); background-position: center;background-repeat: no-repeat;background-size: cover;'">
        <div data-portal-region="mdl-content" class="mdl-content">
            <div data-th-if="${mainRegion}" data-th-each="component : ${mainRegion.components}" data-th-remove="tag">
                <div data-portal-component="${component.path}" data-th-remove="tag"></div>
            </div>
        </div>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">
                    Mini-footer Heading
                </div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
            </div>
        </footer>

    </main>


</div>



<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>